.giscus-warning {
  display: none;
  text-align: center;
  color: rgb(184, 231, 251);
  background-color: rgb(7, 19, 24);
  border-radius: 4px;
  padding: 6px 16px;
  margin: 40px auto;
  border: 1px solid rgba(184, 231, 251, 0.2);
}
